.dataCards {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgb(34, 40, 49);
    transition: 0.3s;
    width: 78%;
    padding: 2px 16px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

/* On mouse-over, add a deeper shadow */
.dataCards:hover {
    box-shadow: 0 8px 16px 0 rgb(57, 62, 70);
}