.expenseView {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 12%;
    border-width: 2px;
    /* border-style:solid;
    border-color:black; */
    float: left;
    width: 20%
}

.expenseDetail {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border-width: 2px;
    float: left;
    width: 62%
}
  