/* Customize the scrollbar */
/* WebKit-based browsers */
::-webkit-scrollbar {
  width: 3px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #90CAF9; /* Set the color of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #42a5f5; /* Set the color of the scrollbar thumb on hover */
}

/* Mozilla Firefox */
/* Note: Firefox supports scrollbar customization only in Nightly builds at the moment */
/* You may need to enable 'layout.css.scrollbar-color.enabled' in 'about:config' */
* {
  scrollbar-color: #555 transparent; /* Set the color of the scrollbar thumb */
}

*::-moz-scrollbar-thumb {
  background-color: #555; /* Set the color of the scrollbar thumb */
}

*::-moz-scrollbar-thumb:hover {
  background-color: #888; /* Set the color of the scrollbar thumb on hover */
}
